$text-font: "Raleway", sans-serif;
@import "clearfix.scss";

.wrapper {
  background-image: url(../img/original_photo-thumb_650.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  & .news--block {
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: flex;
    justify-content: center;
    overflow: auto;

    & .news--list {
      width: 60%;

      & .news--item {
        width: 80%;
        background-color: #c4c4c4;
        box-shadow: rgba(0, 0, 0, 0.562) 7px 6px 3px 5px;
        font-size: 2vmax;
        font-family: $text-font;
        margin: 10vmax 0;
        opacity: 1;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        transition: all 5s ease;

        & .responsive-picture {
          display: block;
          width: 100%;
          height: auto;
        }

        & p {
          font-size: 1.2vw;
          letter-spacing: 1px;
          padding: 2% 4%;
          line-height: 2.5vmax;
          text-align: justify;
          transition: all 0.35s ease-in-out;
        }

        & h2 {
          font-weight: 500;
          padding: 5px 0;
          word-spacing: 10px;
          border-bottom: 0.5px solid #000;
          text-align: center;
          letter-spacing: 4px;
        }
        & a {
          margin: 10px;
          font-size: 1.4vw;
          align-self: center;
          height: auto;
          letter-spacing: 5px;
          color: #000;
          border: 1px solid #000;
          border-radius: 10px;
          padding: 5px 10px;
          transition: all 0.2s ease-in-out;
        }
        & a:hover {
          background: #000;
          color: #fff;
          letter-spacing: 4px;
          border-radius: 15px;
          padding: 5px 13px;
        }
        & a:hover + p {
          filter: blur(1px);
          opacity: 0.4;
        }
      }
    }
  }

  & .menu {
    height: 100vh;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.623);

    & .block--menu {
      width: 60%;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      z-index: 3;
& a{
  width: 80%;

}
      & nav {
        height: 50%;
        width: 100%;
        margin: 0 auto;

        & ul {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          transition: all 0.15s ease-in-out;

          & .link--item {
            width: 100%;
            height: 13%;
            background-color: #fff;
            transition: all 0.5s ease;

            & a {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1vmax;
              font-family: $text-font;
              color: #000;
              letter-spacing: 0.5vmax;
              width: 100%;
              height: 100%;

              transition: all 0.3s ease;
            }
          }
          & li:hover {
            background: rgba(95, 79, 79, 0.534);
            opacity: 1;
          }
        }
        & ul:hover li {
          opacity: 0.3;
        }
        & ul li:hover {
          opacity: 1;
        }
      }
    }
  }
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.418);
  z-index: 2;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
  .wrapper {
    & .news--block {
      
      & .news--list {
        & .news--item {
          & .responsive-picture {
          }

          & p {
          }

          & h2 {
          }
          & a {
          }
          & a:hover {
          }
          & a:hover + p {
          }
        }
      }
    }

    & .menu {
      & .block--menu {
        height: 80%;
        & nav {
          & ul {
            & .link--item {
              & a {
                font-size: 1.1vw;
              }
            }
          }
        }
      }
    }
    .music--block {
     
    
      & .music--list {
       
        & .music--item {
        
    
          & .music--text {
           
          }
          & .music--text:hover {
           
          }
    
          & .playBtn {
           
          }
          & input {}
           
    & .lineVolume{
     
          }
         
    
           
          
          & .restart {
           
          }
          & .restart:hover {
           
          }
          & .volume { background-size: contain;
           flex: 0 0 2vw;
          }
        }
      }
    }
  
    .gallery--block {       
      & .gallery--block_list {
               & .gallery--block_item {     
          & img {                  
          }
        } 
        
      }
    }

    .news--block {
      
    
      & .news--block__item {
       
    
        & .news--block__item__logo {
        height: 20vw;
          & img {
          width: 100%;
         
          }
        }
        & .news--block__item__title {
          
        }
    
        & .news--block__item__text {
         
        }
      }
    }
    
  
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .wrapper {
    & .news--block {
      & .news--list {
        & .news--item {
          & .responsive-picture {
          }

          & p {font-size: 1.3vmax;
          }

          & h2 {
          }
          & a {
          }
          & a:hover {
          }
          & a:hover + p {
          }
        }
      }
    }

    & .menu {
      & .block--menu {
        height: 80%;
        width: 80%;
        & nav {
          & ul {
            & .link--item {
              & a {
                font-size: 1.5vw;
              }
            }
          }
        }
      }
    }

    .music--block {
     
    
      & .music--list {
       
        & .music--item {
        
    
          & .music--text {
           
          }
          & .music--text:hover {
           
          }
    
          & .playBtn {
           display: none;
          }
          & input {}
           
    & .lineVolume{
     
          }
         
    
            & .lineMus {
              
            }
          
          & .restart {
           
          }
          & .restart:hover {
           
          }
          & .volume { background-size: cover;
            flex: 0 0 2vw;
          }
        }
      }
    }
  
    .gallery--block {       
      & .gallery--block_list {
               & .gallery--block_item { 
                 width: 40%;   
                 min-width: 100px; 
                 margin: 40px 15px 15px 0;
          & img {                  
          }
        } 
        
      }
    }

    .contacts--block {

      & .contacts--block_main {
        & .contacts--block_main_item {	
          & .contacts--block_main_item_img {
           height: 5vh;
       }
          & .contacts--block_main_item_text {
            letter-spacing: 3.5px;
          & a{
            letter-spacing: 3.5px;
          }
          }
      }
    }	
  }
  
  

.news--block {
      
    
  & .news--block__item {
    justify-content: center;

    & .news--block__item__logo {
     flex: 0 0 50%;
     height: 25vw;
      & img {
      width: 100%;
     
      }
    }
    & .news--block__item__title {
      text-align: center;
      flex: 0 0 70%;
    }

    & .news--block__item__text {
     
    }
  }
}


  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {.wrapper {
  & .news--block {
    & .news--list {
      & .news--item {
        & .responsive-picture {
        }

        & p {
          font-size: 1.3vmax;
        }

        & h2 {
        }
        & a {
        }
        & a:hover {
        }
        & a:hover + p {
        }
      }
    }
  }

  & .menu {
    
    & .block--menu {height: 80%;
     width: 80%;
      & nav {
        & ul {
          & .link--item {
            & a {
              font-size: 1.5vw;
            }
          }
        }
      }
    }
  }

  .music--block {
     
    
    & .music--list {
     
      & .music--item {
      
  
        & .music--text {
         
        }
        & .music--text:hover {
         
        }
  
        & .playBtn {
         display: none;
        }
        & input {}
         
  & .lineVolume{
    
        }
       
  
          & .lineMus {
            
          }
        
        & .restart {
         
        }
        & .restart:hover {
         
        }
        & .volume { background-size: cover;
          flex: 0 0 2vw;
        }
      }
    }
  }

  .gallery--block {       
    & .gallery--block_list {
      margin-top: 40px;
             & .gallery--block_item { 
               min-width: 80px;
               width: 40%; 
               margin: 25px 5px 5px 0;  
               height: 180px; 
        & img {                  
        }
      } 
      
    }
  }

  .contacts--block {

		& .contacts--block_main {
      & .contacts--block_main_item {	
        & .contacts--block_main_item_img {
         height: 5vh;
     }
        & .contacts--block_main_item_text {
          letter-spacing: 3px;
        & a{
          letter-spacing: 3px;
        }
    		}
		}
  }	
}

.news--block {

  & .news--block__item {
    justify-content: center;

    & .news--block__item__logo{
flex: 0 0 50%;
height: 25vw;
      & img{
width: 100%;
      }
    }
    & .news--block__item__title{
      font-size: 2.2vw;
      flex: 0 0 70%;
      text-align: center;
    }
    & .news--block__item__text{
      font-size: 1.5vw;
    }
  }
}

  
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {.wrapper {
  & .news--block {

    & .news--list {
      width: 55%;
      & .news--item {
        width: 100%;
        & .responsive-picture {
        }

        & p {
          font-size: 2vw;
        }

        & h2 {
        }
        & a {
          font-size: 1.4vmax;
        }
        & a:hover {
        }
        & a:hover + p {
        }
      }
    }
  }

  & .menu {
    width: 35%;
    & .block--menu {
      height: 80%;
      width: 80%;
      & nav {
        & ul {
          & .link--item {
            & a {
              font-size: 1.8vw;
            }
          }
        }
      }
    }
  }
  .music--block {
     
    
    & .music--list {
      width: 65vw;
     
      & .music--item {
      width: 100%;
  
        & .music--text {
         
           font-size: 1.5vw;
         
        }
        
  
        & .playBtn {
         display: none;
        }
        
         
  & .lineVolume{
    height: 20%;
        }
       
  
         
        
        & .restart {
         
        }
        & .restart:hover {
         
        }
        & .volume { background-size: cover;
          flex: 0 0 3vw;
          height: 100%;
        }
      }
    }
  }


  .gallery--block {       
    & .gallery--block_list {
      margin-top: 50px;
             & .gallery--block_item {     
               width: 45%;
               margin: 25px 3px 3px 0;
               min-width: 100px;
               height: 150px;
        & img {                  
        }
      } 
      
    }
  }

  .contacts--block {

		& .contacts--block_main {
      & .contacts--block_main_item {	
        & .contacts--block_main_item_img {
         height: 5vh;
     }
        & .contacts--block_main_item_text {
          letter-spacing: 2px;
        & a{
          letter-spacing: 2px;
        }
    		}
		}
  }	
}

.news--block {

  & .news--block__item {
    justify-content: center;

    & .news--block__item__logo{
flex: 0 0 50%;
height: 25vw;
      & img{
width: 100%;
      }
    }
    & .news--block__item__title{
      font-size: 2.2vw;
      flex: 0 0 70%;
      text-align: center;
    }
    & .news--block__item__text{
      font-size: 1.5vw;
    }
  }
}

}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {.wrapper {
  & .news--block {
    & .news--list {
      & .news--item {
        & .responsive-picture {
        }

        & p {
          font-size: 2.5vw;
        }

        & h2 {
        }
        & a {
          font-size: 1.5vmax;
        }
        & a:hover {
        }
        & a:hover + p {
        }
      }
    }
  }

  & .menu {
    & .block--menu {
      width: 80%;
      & nav {
        & ul {
          & .link--item {
            & a {
              font-size: 2.4vw;
            }
          }
        }
      }
    }
  }

  .music--block {
     
    
    & .music--list {
     width: 70vw;
      & .music--item {
      
  
        & .music--text {
         font-size: 1.8vw;
        }
        & .music--text:hover {
         
        }
  
        & .playBtn {
         display: none;
        }
        
         
  & .lineVolume{
        }
       
  
        
        
        & .restart {
         
        }
        & .restart:hover {
         
        }
        & .volume { background-size: cover;
       flex: 0 0 3vw;
       height: 50%;
        }
      }
    }
  }

  .gallery--block {       
    & .gallery--block_list {
             & .gallery--block_item {     
               height: 100px;
        & img {                  
        }
      } 
      
    }
  }

  .contacts--block {

		& .contacts--block_main {
      width: 50vw;
      height: 30vh;
      & .contacts--block_main_item {	
        & .contacts--block_main_item_img {
         
     }
        & .contacts--block_main_item_text {
          font-size: 2.5vw;  
          letter-spacing: 0.5px;
          & a{
            letter-spacing: 0.5px;
          }
    		}
		}
  }	
}

.news--block {

  & .news--block__item {
    justify-content: center;
    overflow: auto;

    & .news--block__item__logo{
flex: 0 0 80%;
height: 40vw;
      & img{
width: 100%;
      }
    }
    & .news--block__item__title{
      font-size: 3vw;
      flex: 0 0 70%; 
      text-shadow: 1.5px 1.5px 2px rgb(112, 95, 95);
      text-align: center;
    }
    & .news--block__item__text{
      font-size: 2.5vw;
      padding: 30px;
    }
  }
}
}
}

/* Iphone 5 */
@media (max-width: 320px) {.wrapper {
  & .news--block {
    & .news--list {
      width: 75%;
      & .news--item {
        
        & .responsive-picture {
        }

        & p {
          font-size: 3vw;;
        }

        & h2 {
        }
        & a {
          font-size: 2.5vw;
        }
        & a:hover {
        }
        & a:hover + p {
        }
      }
    }
  }

  & .menu {
    width: 30%;
    & .block--menu {
      height: 60%;
      width: 85%;
      & nav {
        & ul {
          & .link--item {
            height: 15%;
            & a {
              font-size: 3vw;
              letter-spacing: .5vw;
            }
          }
        }
      }
    }
  }

  .music--block {
     
    
    & .music--list {
     width: 95%;
      & .music--item {
      height: auto;

  
        & .music--text {
          font-size: 2.4vw;
          letter-spacing: 1px;
         
        }
        & .music--text:hover {
         
        }
  
        & .playBtn {
         display: none;
        }
        & input {}
         
  & .lineVolume{
    height: 5px;
        }
       
  
         
         
        
        & .restart {
         
        }
        & .restart:hover {
         
        }
        & .volume {
          display: none;
      background-size: cover;
        }
      }
    }
  }

  .gallery--block {       
    & .gallery--block_list {
             & .gallery--block_item {
               height: 70px;     
               min-width: 60px;
        & img {                  
        }
      } 
      
    }
  }

  .news--block {

    & .news--block__item {
      justify-content: center;
      overflow: auto;
  
      & .news--block__item__logo{
  flex: 0 0 100%;
  height: 50vw;
        & img{
  width: 100%;
        }
      }
      & .news--block__item__title{
        font-size: 4vw;
        flex: 0 0 70%;
        text-align: center;
        text-shadow: 1.5px 1.5px 2px rgb(112, 95, 95);
      }
      & .news--block__item__text{
        font-size: 3vw;
        padding: 20px;
      }
    }
  }
}
}

@keyframes buttons {
  20% {
  }

  30% {
    box-shadow: inset #bbbaba 0px 0.7vmax 6px 15px;
  }

  50% {
    box-shadow: inset #bbbaba 0px 0.8vmax 4px 16px;
  }

  100% {
    box-shadow: inset #bbbaba 0px 0.9vmax 3px 17px;
  }
}
