@import "style.scss";

.music--block {
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;

  & .music--list {
    width: 55vw;
    margin: 50px 0;
    min-width: 40vw;
    min-height: 20vh;
    border-top: 0.5px solid #000;
    border-bottom: 0.5px solid #000;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: auto;
    & .music--item {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      
      align-content: center;
      min-height: 20px;
      height: 25px;
      min-width: 10vw;
      margin: 20px;
      transition: all 0.5s ease;

      & .music--text {
        flex: 1 0 auto;
        align-self: center;
        font-family: $text-font;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 1vw;
        transition: all 0.5s ease;
     
        
      }
      & .music--text:hover {
        cursor: pointer;
      }

      & .playBtn {
        flex: 0 0 0%;
        width: 0;
        height: 0;
        
        background: transparent;
        transition: all 0.5s ease;
        align-self: center;
      }
     
      & .lineVolume{
         flex: 0 0 15%;
         width: 20%;
         height: auto;
         align-self: center;
         margin: 0 25px 0 15px;
      }
      & .restartText {
        display: flex;
        flex-direction: row-reverse;
        flex: auto;
        justify-content: flex-end;

      
      }
      & .restart {
        flex: 0 0 5%;
        height: 100%;
        background: rgba(255, 255, 255, 0);
        background-image: url(../img/restart.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 30px 0 0;
        background-position: 44% 50%;
        transition: all 0.5s ease;
        
      }
      & .restart:hover {
        transform: rotate(-135deg);
      }
      & .volume {
        background-image: url(../img/volume.svg);
        background-repeat: no-repeat;
        flex: 0 0 2vw;
        height: 100%;
        background-size: contain;
        background-color: transparent;
        align-self: center;
      }
    }
  }
}
.active {
  transform: scale(1.05);
  text-align: center;
  border-bottom: 1px solid #000;
}
.animate-playBtn1 {
  border-bottom: 20px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: rotate(90deg);
}
.animate-playBtn2 {
  border-bottom: 20px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  transform: rotate(180deg);
}
.animate-playBtn2::after {
  content: " ";
  width: 0;
  height: 0;
  transform: rotate(180deg);
  margin-left: 10px;

  border-bottom: 5px solid black;
  border-left: 10px solid black;
  border-right: 5px solid black;
}
.animate-playBtn2::before {
  content: " ";
  width: 20;
  height: 0;
  transform: rotate(0deg);
}
