@import "style.scss";

.news--block {
  align-items: center;

  & .news--block__item {
    width: 80%;
    background: #c4c4c43f;
    height: 80%;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    font-family: $text-font;
    overflow: auto;

    & .news--block__item__logo {
      flex: 0 0 40%;
      padding: 20px;
      height: 30%;
      & img {
        max-width: 100%;
        height: 100%;
      }
    }
    & .news--block__item__title {
      flex: 0 0 50%;
      align-self: center;
      font-size: 2vw;
      text-shadow: 3px 3px 2px rgb(112, 95, 95);
      letter-spacing: 5px;
      word-spacing: 4px;
    }

    & .news--block__item__text {
      flex: 0 0 100%;
      text-align: justify;
      padding: 40px;
      font-size: 1.2vw;

      & .musOn{
        text-decoration: underline;
        cursor: pointer;
       font-weight: 550;
        letter-spacing: 1px;
        transition: all .3s ease;
      }

      & .musOn:hover{
        letter-spacing: 1.5px;
      }
      blockquote {
        border-left: 6px solid #BFE2FF;
        font-size: 16px;
        font-style: italic;
        margin: 16px;
        padding: 16px 24px;
        position: relative;
    }
    blockquote:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -6px;
        height: 40px;
        background-color: #fff;
        width: 6px;
        margin-top: -1em;
    }
    blockquote:after {
        content: "”";
        position: absolute;
        top: 50%;
        left: -20px;
        color: #337AB7;
        font-size: 50px;
        font-family: Times, sans-serif;
        font-weight: bold;
        line-height: 30px;    
    }
    blockquote cite {
        
       
        padding-top: 10px;
        display: block;
        text-align: right;
    }
    }
  }
}
